services:
  app:
    build: .
    environment:
      SPIRIT_TOKEN: ${SPIRIT_TOKEN}
      SPIRIT_CLUB: ${SPIRIT_CLUB}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - victoriametrics
    volumes:
      - ./config.yaml:/config.yaml
    restart: unless-stopped

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.132.0
    ports:
      - 8428:8428
    volumes:
      - vm_data:/victoria-metrics-data
    restart: unless-stopped

  vm-backup:
    image: victoriametrics/vmbackup:v1.132.0
    depends_on:
      - victoriametrics
    volumes:
      - vm_data:/victoria-metrics-data:ro
      - ./backup.sh:/backup.sh:ro
    environment:
      DUMP_DIR: /dumps
      BACKUP_INTERVAL_SECONDS: 3600
      AWS_ENDPOINT_URL: https://storage.yandexcloud.net
      S3_BUCKET: ${S3_BUCKET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    entrypoint: ["sh", "/backup.sh"]

volumes:
  vm_data:
    driver: local
